aiohttp
backports.tarfile
darts
folium
fqdn
geopy
importlib-metadata
isoduration
jaraco.collections
jsonpointer
jupyterlab
kagglehub
lightgbm
optuna
pip
plotly
prophet
pycountry
rfc3987-syntax
seaborn
streamlit
tinycss2
tomli
umap-learn
uri-template
webcolors
wget
wheel
xgboost
